@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('GTWalsheimPro-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('GTWalsheimPro-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('GTWalsheimPro-Bold.woff2') format('woff2');
  font-weight: 700;
}